.mm-banner--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: max-content;
    width: 100%;
    color: #000000;
    padding: 20px;
    border: 1px solid #000000;
    gap: 20px;
    border-radius: 5px;
    background: #f4f4f4;
}